@charset "utf-8";
/*  --------------------------------------------------  */

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #ffffff;
	background-repeat: repeat-x;
}

/*  --------------------------------------------------  */
div#wrapper {
	width: 700px;
	margin: 0px auto;
	padding: 0px;
	background: #ffffff;
	text-align: left;
}

/*  --------------------------------------------------  */

p,h2,h3 {
	margin: 5px 0px 0px;
	padding: 3px;
	line-height: 150%;
}
h2 {
	font-size: 18px;
	background-image: url(../img/bg_navi.jpg) ;
	color: #ffffff;
	padding-left: 1ex;
}
h3 {
	font-size: 16px;
}

p {
	font-size: 12px;
	color: #000000;
}
img {
	border: none;
}
a:link, a:visited {
color: #f15c62;
background: transparent;
}
a:hover, a:active {
color: #f15c62;
background: transparent;
}

ul,ol {
	color: #000000;
	line-height: 150%;
}
ul li,ol li {
	padding: 4px 0px;
}
/*  --------------------------------------------------  */
p.rightp {
	text-align: right;
	font-size: 12px;
}
/*  --------------------------------------------------  */
p.center {
	text-align: center;
	font-size: 12px;
}
/*  --------------------------------------------------  */
ol.olist01 {
	font-size: 12px;
	list-style: decimal outside;
	color: #0066cc;
}
ol.olist02 {
	list-style: upper-alpha outside;
}
/*  --------------------------------------------------  */
ul.ulist01 {
	list-style: square outside;
}
ul.ulist03 {
	font-size: 12px;
	list-style: square outside;
}
ul.ulist04 {
	text-align: right;
}
/*  --------------------------------------------------  */
ul.ulist02,ul.ulist04 {
	list-style: none;
	font-size: 12px;
	margin: 20px 0px 0px;
	padding: 0px;
}
ul.ulist05 {
	list-style: none;
	margin: 6px 20px 0px;
	padding: 0px;
}
/*  --------------------------------------------------  */
span.color01 {
	color: #ff0000;
}
/*  --------------------------------------------------  */
span.color02 {
	color: #f15c62;
}
/*  --------------------------------------------------  */
span.color01b {
	color: #ff0000;
	font-size: 14px;
}
/*  --------------------------------------------------  */
div#footerblock {
	margin: 20px 0px;
	border-top: 5px solid #84c1e9;
}
/*  --------------------------------------------------  */
.bar {
	border-bottom: 9px #504eac solid;
}

ul.ulist08 {
	margin: 10px 0px;
	padding: 0px 0px 0px 20px;
	font-size: 12px;
}
ul.ulist08 li {
	padding: 0px;
	margin: 0px;
}


/*  --------------------------------------------------  */
table.mytb01 {
	width: 600px;
	margin: 10px 50px 0px;
	padding: 4px 10px;
	font-size: 12px;
	line-height: 150%;
	color: #666666;
}
table.mytb01 th {
	width: 25%;
	background: #eeeeee;
	text-align: center;
}
table.mytb01 td {
	width: 75%;
	background: #ffffff;
	text-align: left;
}

ul.pricelist {
	margin: 10px 50px;
	list-style: none outside;
	padding: 0px;
	font-size: 12px;
	line-height: 150%;
	color: #000000;
}
ul.pricelist li {
	padding: 0px 0px;
	margin: 0px;
}


ul.ulist06 {
	list-style: square outside;
	margin: 10px 20px 0px;
	padding: 0px;
	font-size: 12px;
	line-height:150%;
}

ul.ulist06 li {
	margin: 0px;
	padding: 0px;
}

span.aa {
	font-size: 12px;
	color: #000000;
	display: block;
	margin: 10px 0px;
}

span.bb {
	font-size: 12px;
	color: #000000;
	display: block;
	margin: 0px;
	line-height: 150%;
}

ul.ulist09 {
	margin: 10px 0px;
	padding: 0px;
	font-size: 12px;
	list-style: none;
}
ul.ulist09 li {
	padding: 0px;
	margin: 0px;
}

.honbun {
	font-size: 12px;
}

.darkred {
	color: #cc0000;
	font-size: 12px;
}