<ul class="navigation">
<li><a href="index.html">福島店トップ</a></li>
<li><a href="../service/proof/" target="_blank">証明写真</a></li>
<li><a href="bridal.shtml">ブライダル</a></li>
<li><a href="adult.shtml">成人式</a></li>
<li><a href="photo.html">記念写真</a></li>
<li><a href="test.shtml">お受験</a></li>
<li><a href="miai.shtml">お見合い</a></li>
<li><a href="../service/audition/" target="_blank">オーディション</a></li>
<li><a href="http://www.photostudiobee.com/fukushima/index.shtml" target="_blank">こども写真</a></li>
<li><a href="studio.shtml">福島店紹介・地図</a></li>
</ul>