 <a href="index.html"><img src="img/naviA_01.gif" alt="福島店トップ" name="naviA_01" width="94" height="34" id="naviA_01" onmouseover="MM_swapImage('naviA_01','','img/naviB_01.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="../service/proof/index.html"><img src="img/naviA_02.gif" alt="証明写真" name="naviA_02" width="94" height="34" id="naviA_02" onmouseover="MM_swapImage('naviA_02','','img/naviA_02.gif',1);MM_swapImage('naviA_02','','img/naviB_02.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="bridal.shtml"><img src="img/naviA_03.gif" alt="ブライダル" name="naviA_03" width="94" height="34" id="naviA_03" onmouseover="MM_swapImage('naviA_03','','img/naviB_03.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="adult.shtml"><img src="img/naviA_04.gif" alt="成人式" name="naviA_04" width="94" height="34" id="naviA_04" onmouseover="MM_swapImage('naviA_04','','img/naviB_04.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="photo.html"><img src="img/naviA_05.gif" alt="記念写真" name="naviA_05" width="94" height="34" id="naviA_05" onmouseover="MM_swapImage('naviA_05','','img/naviB_05.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="test.shtml"><img src="img/naviA_06.gif" alt="お受験" name="naviA_06" width="94" height="34" id="naviA_06" onmouseover="MM_swapImage('naviA_06','','img/naviB_06.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="miai.shtml"><img src="img/naviA_07.gif" name="naviA_07" width="94" height="34" id="naviA_07" onmouseover="MM_swapImage('naviA_07','','img/naviB_07.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="../service/audition/index.html"><img src="img/naviA_08.gif" alt="オーディション" name="naviA_08" width="96" height="34" id="naviA_08" onmouseover="MM_swapImage('naviA_08','','img/naviB_08.gif',1)" onmouseout="MM_swapImgRestore()" /></a>
<a href="studio.html"><img src="img/naviA_09.gif" alt="福島店紹介" name="naviA_09" width="96" height="34" id="naviA_09" onmouseover="MM_swapImage('naviA_09','','img/naviB_09.gif',1)" onmouseout="MM_swapImgRestore()" /></a>