body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(http://www.westinc.co.jp/img/bg.jpg);
	background-repeat: repeat-x;
}
#wrapper {
margin: 0px auto;
padding: 0px;
width: 850px;
text-align: left;
font-size: 12px;
line-height: 18px;
color: #666666;
background: #ffffff;
border-right:5px solid #ffffff;
border-left:5px solid #ffffff;
}
#top {
margin: 0px;
padding: 0px;
color: #666666;
}
#main {
margin: 10px 0px 5px;
padding: 15px 0px 0px 40px;
float: left;
width: 640px;
}
#main_top {
margin: 30px 0px 5px;
padding: 15px 20px;
float: left;
width: 640px;
}
#sidebar {
margin: 20px 5px 15px 0px;
padding: 0px;
float: right;
width: 150px
}
#under {
clear: both;
}
#footer {
clear: both;
}

a:link, a:visited {
color: #666666;
background: transparent;
}
a:hover, a:active{
color: #888888;
background: transparent;
}
a.catch:link {
color: #f44d60;
background: transparent;
}
a.catch:hover, a.catch:active, a.catch:visited{
color: #f44d60;
background: transparent;
}
a.catch2:link {
color: #1495ed;
background: transparent;
}
a.catch2:hover, a.catch2:active, a.catch2:visited{
color: #1495ed;
background: transparent;
}
#top a:link, #top a:visited {
color: #999999;
background: transparent;
}
#top a:hover, #top a:active {
color: #999999;
background: transparent;
}

noscript {
margin: 0px;
padding: 0px;
font-size: 0px;
color: #FFFFFF;
}

#main p {
margin: 0px;
padding: 10px 0px 0px;
}
#main p.left {
margin: 0px;
padding: 15px 0px;
width: 310px;
float: left;
}
#main p.right {
margin: 0px;
padding: 15px 0px;
width: 310px;
float: right;
}
#main p.long {
margin: 0px;
padding: 15px 0px;
width: 640px;
float: left;
}
#main img{
margin: 0px 10px 0px 0px;
}
#main img.coupon{
float: right;
margin: 0px 0px 10px 10px;
}

#main table.w145  {
margin: 0px;
padding: 0px;
width: 145px;
font-size: 12px;
}
#main table.w280  {
margin: 0px;
padding: 0px;
width: 280px;
font-size: 12px;
}
#main table.w575  {
margin: 0px;
padding: 0px;
width: 575px;
font-size: 12px;
}
#main table.longwaku  {
margin: 0px;
padding: 0px;
width: 640px;
font-size: 12px;
float: left;
}

#main table td.bd {
text-align: center;
font-weight: bold;
color: #474646;
}
#main table img {
margin: 0px;
padding: 0px;
text-align: center;
}
#main table strong.text01{
color: #cb314b;
font-size: 14px;
}
#main table tr.ta01 {
background-color: #999999;
}
#main table tr.ta02{
background-color: #edeaed;
text-align: center;
}
#main table tr.ta03{
background-color: #fefefc;
}
#main table tr.ta04{
background-color: #fefefc;
text-align: center;
}
#main table tr.ta05{
background-color: #fefefc;
}


#sidebar div.sidebox {
margin: 0px 0px 0px 8px;
padding: 0px;
width: 150px;
}
#sidebar div.sidebox ul{
margin: 0px;
padding: 0px;
width: auto;
list-style: none;
}
#sidebar div.sidebox ul li{
margin: 0px 0px 5px;
padding: 0px;
}

ul.navigation {
margin: 10px 0px 10px;
padding: 7px 0px;
list-style: none;
text-align: center;
background-image: url(http://www.westinc.co.jp/img/bg_navi.jpg) ;
}
ul.navigation li {
display: inline;
padding: 0px 17px;
}
ul.navigation a:link, ul.navigation a:visited {
text-decoration: none;
color: #ffffff;
}
ul.navigation a:hover, ul.navigation a:active {
text-decoration: underline;
color: #ffffff;
}

ul.undernavi {
margin: 10px 0px 20px;
padding: 0px;
list-style: none;
text-align: center;
}
ul.undernavi  li {
	display: inline;
	padding: 0px 17px;
}
ul.undernavi  a:link, ul.undernavi a:visited {
text-decoration: none;
color: #777777;
}
ul.undernavi  a:hover, ul.undernavi a:active {
text-decoration: underline;
color: #777777;
}

.copyright{
text-align: center;
margin: 0px;
padding: 3px 0px;
background: #bfd7fa;
color: #3399ff;
}

.point{
color: #f44d60;
font-size: 14px;
}
.pink{
color: #f44d60;
}
.violet{
color: #7937cb;
}
.orange{
color: #fd3f05;
}
.white{
color: #ffffff;
}
.blue{
color: #1495ed;
}
.text8{
font-size: 8px;
}