.btn_tab li{
	float:left;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: -10px;
	margin-left: 0px;
	position: relative;
	z-index: 6;
	padding: 0px;
}

.container_tab{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 585px;
	position: relative;
	z-index: 1;
	padding: 0px;
	margin: 0px;
}
