<div class="sidebox">

<ul>
<li></li>
<li><img src="../img/bannar_test.jpg" width="145" height="115" alt="お受験写真" border="0"></li>
<li><img src="../img/bannar_child_side.jpg" width="145" height="115" alt="子ども写真" border="0" /></li>
<li><img src="../img/bannar_audition.jpg" width="145" height="35" alt="オーディション／宣材用写真" border="0"></li>
<li><img src="../img/bannar_photoacademy.jpg" width="145" height="95" alt="フォトアカデミー" border="0"></li>
<li><a href="../"><img src="../img/ike_studio.gif" alt="池袋スタジオ" width="145" height="28" border="0"></a></li>
<li><a href="../koutsukaikan/"><img src="../img/koutsu_studio.gif" alt="交通会館スタジオ" width="145" height="28" border="0"></a></li>
<li><a href="../fukushima/"><img src="../img/fukushima_studio.gif" alt="福島スタジオ" width="145" height="28" border="0"></a></li>
<li>　</li>
<!--
<li><img src="../img/bannar_mobile.jpg" width="145" height="160" alt="ウエストモバイルサイト" border="0" /></li>-->
</ul>
</div>