<table width="850" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <td height="20" colspan="10" bgcolor="#bfd7fa">　<font color="#3399ff">証明写真のウエスト　ブライダルフォト　成人式・卒業式記念写真　こども写真　家族写真　お見合い写真　オーディション写真他　各種撮影を承ります。</font></td>
  </tr>
    <tr>
      <td colspan="10"><img src="img/spacer.gif" width="1" height="10" /></td>
    </tr>
  <tr>
    <td colspan="10"><img src="img/spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
    <td rowspan="2"><a href="http://www.westinc.co.jp/index.shtml"><img src="img/logo.gif" alt="フォトスタジオ ウエスト 銀座店" width="400" height="53" border="0" /></a></td>
    <td><img src="img/spacer.gif" width="160" height="1" /></td>
    <td><a href="../privacy/" target="_blank">個人情報保護方針</a></td>
    <td><img src="img/spacer.gif" width="10" height="1" /></td>
    <td><a href="../company/" target="_blank">会社概要</a></td>
    <td><img src="img/spacer.gif" width="10" height="1" /></td>
    <td><a href="../recruit/" target="_blank">採用情報</a></td>
    <td><img src="img/spacer.gif" width="5" height="1" /></td>
  </tr>
  <tr>
    <td colspan="7" align="right"><img src="img/tel.gif" width="240" height="29" /></td>
  </tr>
  
</table>
