<ul class="undernavi">
<li><a href="index.html">フォトアカデミートップ</a></li>
<li><a href="course01.html">基本スタートコース</a></li>
<li><a href="course02.html">養成コース</a></li>
<li><a href="javascript:;" onClick="MM_openBrWindow('expense.html','expense','status=yes,scrollbars=yes,width=520,height=540')">学費について</a></li>
<li><a href="grad.html">卒業生の声</a></li>
<li><a href="school.html">スクール風景</a></li>
</ul>