<table width="850" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20" colspan="8" bgcolor="#bfd7fa">　<font color="#3399ff">フォトスタジオBee （ビィー） は、衣裳・ヘアメイク・着付・撮影までをトータルにサービスします！　かわいいドレスや着物、タキシード等の衣裳が満載です。</font></td>
  </tr>
  <tr>
    <td colspan="8"><img src="img/spacer.gif" width="1" height="10" /></td>
  </tr>
  <tr>
    <td colspan="8"><img src="img/spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
    <td rowspan="2"><a href="index.shtml"><img src="images/logo.gif" alt="こども写真館 フォトスタジオBee（ビィー）" width="400" height="53" border="0" /></a></td>
    <td><img src="images/spacer.gif" width="120" height="1" /></td>
    <td><a href="http://www.westinc.co.jp/privacy/" target="_blank">個人情報保護方針</a></td>
    <td><img src="images/spacer.gif" width="10" height="1" /></td>
    <td><a href="http://www.westinc.co.jp/company/" target="_blank">会社概要</a></td>
    <td><img src="images/spacer.gif" width="10" height="1" /></td>
    <td><a href="http://www.westinc.co.jp/recruit/" target="_blank">採用情報</a></td>
    <td><img src="images/spacer.gif" width="5" height="1" /></td>
  </tr>
  <tr>
    <td colspan="7" align="right"><img src="images/tel.gif" alt="こども写真館 フォトスタジオBee（ビィー）" width="310" height="29" /></td>
  </tr>
  
</table>
