<table width="850" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="11" bgcolor="#ff9999">　<font color="ffffff">フォトスタジオのはかまレンタル・撮影セットプランなら、レンタル衣裳・着付け・ヘアセット・記念写真付き！　すべて揃って 29,800円〜 （キャンペーンはかま）</font></td>
  </tr>
  <tr>
    <td colspan="11"><img src="img/spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
    <td><img src="img/spacer.gif" width="10" height="1" /></td>
    <td><a href="../"><img src="img/logo_company.gif" alt="フォトスタジオ ウエスト" width="350" height="53" border="0" /></a></td>
    <td><img src="img/spacer.gif" width="30" height="1" /></td>
    <td><a href="price.html">卒業記念写真・料金一覧</a></td>
    <td><img src="img/spacer.gif" width="10" height="1" /></td>
    <td><a href="info.html">ご利用の流れ</a></td>
    <td><img src="img/spacer.gif" width="10" height="1" /></td>

   
  </tr>
  
  
</table>
