a:link		{ text-decoration: underline ; color:#f27723; }
a:vlink		{ text-decoration: underline ; color:#f27723; }
a:visited	{ text-decoration: underline ; color:#f27723; }
a:hover		{ text-decoration: underline ; color:#f27723; }
