<div class="sidebox">

<ul>
<li></li>
<li></li>
<li><img src="../photo/banner/photo.jpg" alt="µÜOE¨{QèESúj¢EßåE¨a¶úEüEüwÙ©eíBeótI" width="145" height="130" border="0" /></li>
<li><a href="../dress/" target="_blank"><img src="photo/banner/dress.jpg" alt="qphX^LV[h^" width="145" height="130" border="0"></a></li>
<li><a href="http://www.westinc.co.jp/fukushima/" target="_blank"><img src="photo/banner/link_west.jpg" alt="tHgX^WIvdrsX" width="145" height="130" border="0"></a></li>
<li><a href="../index.shtml "target="_blank"><img src="photo/banner/ikebukuro.gif" width="145" height="50" alt="tHgX^WIBee@rÜX" border="0"></a></li>
</ul>
</div>