@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
img {
	vertical-align: top;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#container {
	padding: 0px;
	width: 1100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#container #side {
	display: inline;
	padding: 0px;
	float: left;
	width: 180px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: left;
}
#container #contents {
	display: inline;
	margin: 0px;
	float: right;
	width: 900px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: left;
}
#container #contents #panlist {
	background-color: #E7E7E7;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

#container #contents #images {
	display: inline;
	padding: 0px;
	float: left;
	width: 300px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#container #contents #main {
	display: inline;
	margin: 0px;
	padding: 0px;
	float: right;
	width: 585px;
	text-align: left;
}
#container #footer {
	margin: 0px;
	clear: both;
	width: 1100px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10px;
	color: #666666;
	text-align: right;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	letter-spacing: 0.08em;
}
h1 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.ul_sidemenu {
	padding: 0px;
	list-style-type: none;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.ul_sidemenu li {
	padding: 0px;
	margin: 0px;
}
.ul_sidesubmenu {
	padding: 0px;
	list-style-type: none;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.ul_sidesubmenu li {
	margin: 0px;
	padding: 0px;
}
.ul_sidebanner {
	padding: 0px;
	list-style-type: none;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.ul_sidebanner li {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
#images ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#images li {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

#panlist p {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	color: #666666;
}
#panlist a {
	color: #055490;
	text-decoration: underline;
}
#panlist a:hover {
	color: #3399FF;
	text-decoration: underline;
}
.p_faq {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 14px;
	color: #333333;
	clear: both;
	font-weight: bold;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 13px;
	background-image: url(img/faq/icon2.png);
	background-repeat: no-repeat;
	background-position: left center;
	letter-spacing: 0.1em;
}

.table_topics {
	padding: 0px;
	width: 672px;
	margin: 0px;
	float: left;
	display: inline;
}
.td_topics {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	text-align: left;
	margin: 0px;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 17px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	background-image: url(img/top/icon.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.table_faq1 {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 435px;
}
.td_faq1_1 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #3366CC;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 18px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	background-image: url(img/faq/icon1.png);
	background-repeat: no-repeat;
	background-position: left 4px;
}
.td_faq1_2 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.table_faq2 {
	margin: 0px;
	padding: 0px;
	float: right;
	width: 435px;
}
.td_faq2_1 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #3366CC;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 18px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	background-image: url(img/faq/icon1.png);
	background-repeat: no-repeat;
	background-position: left 4px;
}
.td_faq2_2 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.table_top {
	text-align: center;
	padding: 0px;
	width: 720px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}

.topics_bannar{
	margin-bottom:10px;
}