
/************************************************/
/*        フォームメール用スタイルシート        */
/************************************************/


/* ------ ページ全体 ------ */
body {  
	background-color: #ffffff;  /* 背景色 */
}


/* ------ タイトル ------ */
.title {
	color: #000000;             /* 文字色 */
	text-align: left;           /* 配置 */
}


/* ------ メッセージ ------ */
.msg_head {
	color: #000000;             /* 文字色 */
	text-align: left;           /* 配置 */
}

.msg_foot {
	color: #000000;             /* 文字色 */
	text-align: center;         /* 配置 */
}


/* ------ テーブル ------ */
table {
	border-style: none;
	width: 80%;
	margin: 20px 10%;
}

table th {                          
	background-color: #cccccc;  /* 背景色 */
	color: #000000;             /* 文字色 */
	text-align: left;           /* 配置 */
	border-style: none;
	white-space: nowrap;
	padding: 5px;
}

table td {
	background-color: #eeeeee;  /* 背景色 */
	color: #000000;             /* 文字色 */
	text-align: left;           /* 配置 */
	border-style: none;
	white-space: nowrap;
	padding: 5px;
}


/* ------ ボタン ------ */
.submit {
	text-align: center;         /* 配置 */
}


