<ul class="navigation">
<li><a href="service/proof/index.shtml">証明写真</a></li>
<li><a href="bridal.shtml">ブライダル</a></li>
<li><a href="adult.shtml">成人式</a></li>
<li><a href="grad/index.shtml">卒業式</a></li>
<li><a href="familly.shtml">家族</a></li>
<li><a href="test.shtml">お受験</a></li>
<li><a href="miai.shtml">お見合い</a></li>
<li><a href="service/audition/index.shtml">オーディション</a></li>
<li><a href="http://www.westinc.co.jp/bee/index.shtml">こども写真</a></li>
<li><a href="ginza/proof2.shtml">転職写真</a></li>
<li><a href="ginza/business.shtml">法人向け</a></li>
</ul>