<div class="sidebox">

<ul>
<li></li>
<li><a href="http://www.westinc.co.jp/bee/"><img src="../img/bannar_bee_side.jpg" width="145" height="115" alt="こども写真撮影" border="0" /></a></li>
<li><a href="test.shtml"><img src="../img/bannar_test.jpg" width="145" height="115" alt="お受験写真" border="0" /></a></li>
<li><a href="service/proof/lineup.html#air" target="_blank"><img src="../img/bannar_airline_2.jpg" width="145" height="115" alt="マスコミ・エアライン受験用撮影" border="0" /></a></li>
<!--<li><a href="grad.html" target="_blank"><img src="../img/bannar_grad03.jpg" width="145" height="135" alt="卒業記念" border="0" /></a></li>-->
<!--
<li><a href="yukata.html"><img src="img/bannar_yukata0907.jpg" width="145" height="115" alt="浴衣" border="0" /></a></li>
-->
<li><a href="service/audition/" target="_blank"><img src="../img/bannar_audition.jpg" width="145" height="35" alt="オーディション／宣材用写真" border="0"></a></li>
<!--<li><a href="school/" target="_blank"><img src="../img/bannar_photoacademy.jpg" width="145" height="95" alt="フォトアカデミー" border="0"></a></li>-->
<li><a href="studio.shtml"><img src="../img/ike_studio.gif" alt="池袋スタジオ" width="145" height="28" border="0"></a></li>
<li><a href="koutsukaikan/top.html"><img src="../img/koutsu_studio.gif" alt="交通会館スタジオ" width="145" height="28" border="0"></a></li>
<li><a href="fukushima/"><img src="../img/fukushima_studio.gif" alt="福島スタジオ" width="145" height="28" border="0"></a></li>
<li>　</li>
<!--
<li><img src="img/bannar_mobile.jpg" width="145" height="160" alt="ウエストモバイルサイト" border="0" /></li>-->
</ul>
</div>