@charset "utf-8";
/*  --------------------------------------------------  */

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-image: url(../../img/bg_blue.jpg);
}

/*  --------------------------------------------------  */
div#wrapper {
	width: 700px;
	margin: 0px auto;
	padding: 0px;
	background: #ffffff;
	text-align: left;
}
div#headerblock {
	height: 53px;
	background: url("../images/school/logo_02.gif") 0% 0% no-repeat;
	border-bottom: 9px #504eac solid;
}
div#headerblock h1 {
	display: none;
}
/*  --------------------------------------------------  */
a:link, a:visited {
color: #3771a6;
background: transparent;
}
a:hover, a:active {
color: #3771a6;
background: transparent;
}

h2,h3 {
	margin: 20px 0px 0px;
	padding: 0px;
	line-height: 150%;
}
h2 {
	font-size: 120%;
	background: #504eac;
	color: #ffffff;
	padding-left: 1ex;
}
h3 {
	font-size: 100%;
}

p {
	font-size: 12px;
	line-height: 150%;
	color: #a9815b;
}


/*  --------------------------------------------------  */
table{
	font-size: 12px;
	line-height: 150%;
	color: #a9815b;
	text-align: left;
}


strong {
	color: #a9815b;
}
.copy {
	font-size: 12px;
	color: #777777;
}