@charset "utf-8";
/*  --------------------------------------------------  */

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #ffffff;
	background-image: url(../../img/bg_blue.jpg);
}

/*  --------------------------------------------------  */
div#wrapper {
	width: 700px;
	margin: 0px auto;
	padding: 0px;
	background: #ffffff;
	text-align: left;
}	
#top {
width: 722px;
}
#under {
clear: both;
}
#footer {
clear: both;
width: 722px;
}

div#headerblock {
	height: 53px;
	background: url("../images/school/logo_02.gif") 0% 0% no-repeat;
	border-bottom: 9px #504eac solid;
}
div#headerblock h1 {
	display: none;
}
/*  --------------------------------------------------  */
a:link, a:visited {
color: #3771a6;
background: transparent;
}
a:hover, a:active {
color: #3771a6;
background: transparent;
}

h2,h3 {
	margin: 20px 0px 0px;
	padding: 0px;
	line-height: 150%;
}
h2 {
	font-size: 120%;
	background: #504eac;
	color: #ffffff;
	padding-left: 1ex;
}
h3 {
	font-size: 100%;
}
p {
	font-size: 12px;
	line-height: 150%;
	color: #666666;
}

ul,ol {
	color: #666666;
	line-height: 150%;
}
ul li,ol li {
	padding: 4px 0px;
}
/*  --------------------------------------------------  */
p.rightp {
	text-align: right;
}
/*  --------------------------------------------------  */

.bar {
	border-bottom: 9px #504eac solid;
}

/*  --------------------------------------------------  */
table.mytb01,
table.mytb03,
table.mytb04,
table.mytb05 {
	font-size: 12px;
	line-height: 150%;
	color: #666666;
	background: #cccccc;
	
}
table.mytb01 {
	width: 600px;
	margin: 10px 50px 0px;
}
table.mytb03 {
	width: 190px;
}
table.mytb05 {
	width: 415px;
}

table.mytb02 {
	font-size: 12px;
	line-height: 150%;
	color: #666666;
	background: #ffffff;
	width: 600px;
	margin: 10px 50px 0px;
}


td.mytd01 {
	width: 40%;
}
th.myth01 {
	width: 60%;
}

td.mytd01,
th.myth01,
td.mytd02,
th.myth02,
td.mytd03,
th.myth03 {
	background: #ffffff;
	padding: 4px 10px;
}
td.mytd04 {
	background: #ccaedd;
	padding: 4px 10px;
	color: #ffffff;
}
td.mytd02,
th.myth02 {
	text-align: center;
}
td.mytd03,
th.myth03 {
	text-align: left;
}

ul.ulist09 {
	margin: 10px 0px;
	padding: 0px;
	font-size: 12px;
	list-style: none;
}
ul.ulist09 li {
	padding: 0px;
	margin: 0px;
}
ul.ulist09 li strong {
	color: #666666;
}
.pink{
color: #f15c62;
}

ul.undernavi {
margin: 20px 0px 15px 20px;
padding: 0px;
list-style: none;
text-align: left;
font-size: 12px;
line-height: 150%;
}
ul.undernavi  li {
	display: inline;
	padding: 0px 15px;
}
ul.undernavi  a:link, ul.undernavi a:visited {
color: #777777;
}
ul.undernavi  a:hover, ul.undernavi a:active {
color: #777777;
}

.toptext{
text-align: right;
margin: 0px;
padding: 1px 0px;
background:#ffbbbb;
color: #ffffff;
}
.copyright{
text-align: center;
margin: 0px;
padding: 3px 0px;
background: #aaaaaa;
color: #ffffff;
}

span.color01 {
	color: #ff0000;
}